.login-card {
  margin-top: 50px;
}

.login-dropdown {
  width: 100%;
}

.user-profile {
  width: 40px;
  height: 40px ;
  border: 1px;
}

a > span {
  padding-left: 20px;
}

.dropdown-menu {
  width: 100%;
}

#sign-in-btn {
  margin-top: 10px;
  width: 100%;
}